<div class="container-fluid col-lg-6 pt-3">
  <%= simple_form_for @repo do |f| %>
    <%= f.input :url, label: false, placeholder: "Enter Url"  %>
    <%= f.input :user_id, :as => :hidden, input_html: { value: current_user.id } %>
    <%= f.input :name, label: false, placeholder: "Enter Name"  %>
    <%= f.submit 'Create', class: 'btn btn-success btn-block' %>
  <% end %>
</div>

