<div class="container-fluid col-lg-6 pt-3">
  <%= simple_form_for @repo do |f| %>
    <%= f.input :url, label: false, placeholder: "Enter Url"  %>
    <%= f.input :name, label: false, placeholder: "Enter Name"  %>
    <% if action_name == 'edit' %>
      <%= f.submit 'Edit', class: 'btn btn-success btn-block' %>
    <% else %>
      <%= f.submit 'Create', class: 'btn btn-success btn-block' %>
    <% end %>
  <% end %>
</div>

