<table class="table table-striped" >
  <thead>
    <tr class="text-center border-off">
      <th></th>
      <th class="text-primary">Locale</th>
      <th></th>
      <th></th>
      <th class="text-left text-primary">Missing Keys
      <span class="text-right text-danger offset-3">Total: <%= @repo.compare.keys.count > 0 ?  "#{@repo.compare.keys.count} locales missing key" : "#{@repo.compare.keys.count} locale missing key"%></span> </th>
    </tr>
  </thead>
  <tbody>
    <% @repo.compare.each do |locale, missing_keys|  %>
      <tr>
        <td class="text-center"></td>
        <td class="text-center"><%= locale %><p class="text-danger font-italic float-right">(<%= missing_keys.count %>)</p></td>
        <td></td>
        <td></td>
        <td>
          <% missing_keys.each do |element|  %>
            <%= element %><br>
          <% end %>
        </td>
        <td></td>
        <td></td>
    <% end %>
  </tbody>
</table>
<small><p class="text-danger float-right font-italic">Created at: <%= time_ago_in_words(@repo.created_at) %></p> </small>