<div class='pt-5'>
  <div class="container pt-5">
    <h3 class="text-uppercase text-success text-center">Listing of Repos</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>No</th>
          <th class="text-center">Url</th>
          <th>Name</th>
          <th colspan="3" class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @repos.each_with_index do |repo,index| %>
          <tr>
            <td><%= index +1 %></td>
            <td><%= repo.url %></td>
            <td><%= repo.name%></td>
            <td><%= link_to 'Show', repo_path(repo) %></td>
            <td><%= link_to "Edit", edit_repo_path(repo)%></td>
            <td><%= link_to "Destroy", repo_path(repo),
                    method: :delete,
                    data: { confirm: "Are you sure? "} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
