<div class="container">
  <h3 class="text-capitalize text-success text-center">Listing of Repos</h3>

  <table class="table table-striped">
    <thead>
      <tr class="text-center border-off text-primary">
        <th></th>
        <th></th>
        <th >Url</th>
        <th class="text-right">Name</th>
        <th colspan="3" >Action</th>
      </tr>
    </thead>
    <tbody >
      <% @repos.each do |repo| %>
      <tr >
        <td></td>
        <td></td>
        <td class="text-left "><a href="<%= repo.url %>" target="_blank"><%= repo.url %></a></td>
        <td class="text-right text-capitalize"><%= link_to repo.name, repo_path(repo)%></td>
        <td class="text-center">
          <%= render 'action', repo: repo %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <p class="text-sm-right text-center text-danger float-right pr-4 font-italic"> Total: <%=Repo.count > 0 ?  "#{Repo.count} Repos" : "#{Repo.count} Repo"%> </p> 
</div>

