<div class="container">
  <h3 class="text-uppercase text-success text-center">Listing of Repos</h3>
  <table class="table table-striped">
    <thead>
      <tr class="text-center">
        <th >No</th>
        <th >Url</th>
        <th >Name</th>
        <th colspan="3" >Action</th>
      </tr>
    </thead>
    <tbody>
      <% @repos.each_with_index do |repo,index| %>
      <tr>
        <td class="text-center"><%= index +1 %></td>
        <td><a href="<%= repo.url %>" target="_blank"><%= repo.url %></a></td>
        <td class="text-center"><%= repo.name%></td>
        <td><%= link_to 'Show', repo_path(repo) %></td>
        <td><%= link_to "Edit", edit_repo_path(repo)%></td>
        <td><%= link_to "Destroy", repo_path(repo),
        method: :delete,
        data: { confirm: "Are you sure? "} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
