<div class="col-8 offset-2 pt-5">
  <h3 class="text-center text-primary mb-3">
    <span class="text-uppercase "><%= @repo.name %></span> 
    <span class="float-left mr-2">
      <% if subscribed_by_user?(current_user, @repo) %> 
        <%= link_to 'Unsubsbribe', unsubscribe_repo_path(@repo), method: :delete, class: 'btn btn-danger btn-sm' %>
      <% else %>
        <%= link_to 'Subscribe', subscribe_repo_path(@repo), method: :post, class: 'btn btn-success btn-sm' %>
      <% end %> 
    </span>  
  </h3>

  <span class="btn-github float-right ">
    <iframe class="gem__ghbtn" src=<%=@repo.star_github_large%> frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
    <iframe class="gem__ghbtn" src=<%=@repo.fork_github_large%> frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
  </span>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Compare Locale</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Read Me</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab"><%= render 'table', repo: @repo %></div>
    <div class="tab-pane fade " id="home" role="tabpanel" aria-labelledby="home-tab"><%= render 'description', repo: @repo %></div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><%= markdown(@repo.read_file_read_me) %></div>
  </div>
</div>


